.navbar {
    background-color: #2f4e91;
    margin-bottom: 30px
}

.panel-heading{
   font-weight: bold
}

.home > .navbar{
    margin-bottom: 0px
}

.margin-top-20{
    margin-top: 20px
}

.margin-left-20{
    margin-left: 20px
}

.margin-bottom-30{
    margin-bottom: 30px
}

.navbar-brand.btn, .navbar-brand.btn:focus{
    background-color: #2f4e91;
    border: none;
    color: #fff;
}

.navbar-brand.btn:hover{
    background-color: #fff;
    border: none;
    color: #2f4e91;
}

.btn, .btn:focus{
    background-color: #2f4e91;
    color: #fff;
    border-color: #120c60
}


.btn:disabled, .btn:disabled:hover{
    background-color: #2f4e91;
    color: #fff;
    border-color: #120c60
}

.btn:hover{
    background-color: #fff;
    color: #2f4e91;
}

.main-color{
    color: #2f4e91
}

.jumbotron{
    padding: 50px
}

.col-2{
    width: 10%;
}

.checkbox{
    width: 10%;
    padding: 3px 18px;
    margin: 0px
}

.store-button-col{
    width: 20%
}

.store-button{
    margin: 0px 10px
}

.item-textbox{
    width: -webkit-fill-available
}

.store-textbox{
    width: -webkit-fill-available
}